dist: trusty
# dist: bionic
os: linux
sudo: required
language: java
jdk: oraclejdk8

services:
  - docker

# stages names from jobs
stages:
  - clean
  - package

jobs:
  include:
    - name: "Clean"
      stage: clean
      install: true
      script: ./mvnw clean
    - name: "Package"
      stage: package
      script: ./mvnw package

deploy:
  provider: script
  script: bash scripts/docker_ci.sh
  on:
    branch: master


before_install:
  - chmod +x ./mvnw

# keep the maven local repository between different runs
cache:
  directories:
    - $HOME/.m2

# enable or disable notifications
notifications:
  email: false
