dist: trusty
# dist: bionic
os: linux
sudo: required
language: java
jdk: oraclejdk8

services:
  - docker

# stages names from jobs
stages:
  - clean
  - package

jobs:
  include:
    - name: "Clean"
      stage: clean
      install: true
      script: ./mvnw clean package
    - name: "Build image"
      script: bash scripts/docker_ci.sh
      #script: docker build -t massipssa/devs:workspace .
    #- name: "Push image"
    #  script: echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USERNAME" --password-stdin && docker push massipssa/devs:workspace

#deploy:
#  provider: script
#  script: bash scripts/docker_ci.sh
#  on:
#    branch: master


before_install:
  - chmod +x ./mvnw

# keep the maven local repository between different runs
cache:
  directories:
    - $HOME/.m2

# enable or disable notifications
notifications:
  email: false
